body {
  background-color: lightslategray;
  font-size: x-large;
  text-align: center;
}

.digits {
  display: inline-block;
  width: 70px;
  height: 120px;
  
}

.numbers {
  width: 70px;
  height: 90px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 85px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
}

button {
  background-color: black;
  color: antiquewhite;
}

button:active{
  background-color: antiquewhite;
  color: black;
}

footer {
  margin-top: 200px;
}